@font-face {
    font-family: Ferrari;
    src: url("fonts/Ferrari-SansRegular.ttf");
}

html {
    overflow: auto;
}

html, body {
    background-color: #f5efe6;
    font-family: Arial, Helvetica, sans-serif;
    height: 99%;
    width: 99%;
    margin: auto;
}


header {
    height: 15%;
    margin: 1% auto;
    align-items: center;
    background: linear-gradient(to bottom, #e8dfca 0%, #e8dfca 100%) no-repeat;
    border: 0.125em solid #000000;
    text-align: center;
}

footer {
    height: 23%;
    margin: 1% auto;
    align-items: center;
    background: linear-gradient(to bottom, #e8dfca 0%, #e8dfca 100%) no-repeat;
    border: 0.125em solid #000000;
    text-align: center;
}

section {
    margin: 1% auto;
    align-items: center;
    background: linear-gradient(to bottom, #e8dfca 0%, #e8dfca 100%) no-repeat;
    border: 0.125em solid #000000;
    text-align: left;
}


h1 {
    font-family: Ferrari;
    margin-top: 0.5%;
    margin-bottom: 1.25%;
    padding-bottom: 0.5%;
}

h2 {
    font-family: Ferrari;
    padding-left: 1.5%;
    margin-top: 1%;
    margin-bottom: 1%;
}


#damavand {
    float: left;
    height: 80%;
    margin: 0.75%;
}

.navigation-button {
    background-color: #d53956;
    border: 0.125em solid #000000;
    color: #000000;
    padding: 1% 2% 1% 2%;
    margin-top: 0.25%;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

.navigation-button:hover {
    background-color: #d5c539;
    color: #ffffff;
    border: 0.125em solid #ffffff;
}


.favorite-foods {
    height: 16%;
}

.favorite-foods h2 {
    margin-bottom: -0.4%;
}

.favorite-foods > ul {
    font-size: 0.9375em;
    padding-left: 4%;
}

.food-button {
    color: #ff6600;
    font-weight: bold;
}

.food-button:hover {
    color: #d5c539;
    font-weight: bold;
}


.achivements {
    height: 15%;
}

.achivements > h2 {
    margin-bottom: 1%;
}

.achivements > label {
    padding-left: 3%;
    font-size: 0.9375em;
    color: #0051ff;
    font-weight: bold;
}

.achivements > progress {
    background-color: #008000;
    width: 17.5%;
    height: 0.875em;
    margin-left: 0.25%;
}

.more > details {
    height: 12.5%;
}

.more > details > summary {
    margin-top: -0.5%;
    margin-bottom: 0.75%;
    padding-left: 2.5%;
    font-size: 0.9375em;
    font-weight: bold;
    list-style-image: url('img/arrow.png');
}
.more > details[open] > summary {
    margin-top: -0.5%;
    margin-bottom: 0.5%;
    padding-left: 2.5%;
    font-size: 0.9375em;
    font-weight: bold;
}

.more > details > p {
    margin-top: 0.25%;
    margin-bottom: 0.75%;
    padding-left: 4%;
    font-size: 0.9375em;
}


#logo {
    margin-top: 1.5%;
    background-color: #f0f0f0;
    width: 17.5%;
}

#logo:hover {
    background-color: #ff0000;
}

footer > p {
    font-size: 1em;
}

footer > p > a {
    color: #0000ff;
    font-weight: bold;
}

footer > p > a:hover {
    color: #d5c539;
}